/* From Uiverse.io by nima-mollazadeh */ 
.button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #ffee01, #03b1dd);
  padding: 0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 7px;
  transition: 0.5s;
  pointer-events: none;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #ecfa6b, #fc0987);
  border-radius: 7px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
}

.button:hover:after {
  opacity: 1;
}
